<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div id="queryResult" class="w-100">
    <th:block th:if="${tableHeader}">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th th:each="item : ${tableHeader}" scope="col">
                    <th:block th:text="${item}"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row,stat : ${tableContent}">
                <th scope="row" th:text="${stat.index} + 1"></th>
                <td th:each="item : ${row}">
                    <th:block th:text="${item}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
</div>
</body>
</html>