<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div id="queryResult" class="w-100">
    <th:block th:if="${tableHeader}">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th th:each="item : ${tableHeader}" scope="col">
                    <th:block th:text="${item}"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row,stat : ${tableContent}">
                <th scope="row" th:text="${stat.index} + 1"></th>
                <td th:each="item : ${row}">
                    <th:block th:text="${item}"/>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>

    <th:block th:if="not ${tableHeader}">
        <p></p>
    </th:block>

    <th:block th:if="${error}">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" colspan="2">Error</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:if="${error}">
                <tr>
                    <td>Error</td>
                    <td th:text="${error}"></td>
                </tr>
            </th:block>
            <th:block th:if="${exception}">
                <tr>
                    <td>Message</td>
                    <td th:text="${exception}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </th:block>
</div>
</body>
</html>